/* Home */
* {
    font-family: "Quicksand", sans-serif;
}

/* Navbar Desktop */

body {
    display: flex;
}

.welcome-user {
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}

.img-user-nav {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.user-info-nav p {
    color: rgb(252, 252, 252);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.user-info-nav p i {
    color: #f9a129;
}

.img-user-nav img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.user-info-nav {
    align-self: center;
    text-align: center;
}

.user-info-nav p:last-of-type {
    font-size: 0.9rem;
    font-weight: 400;
}

.sidebar {
    width: 250px;
    padding: 2rem 0;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
}

@media screen and (max-height: 600px) {
    .sidebar {
        height: auto;
        min-height: 100vh;
    }
}

.logo {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.logo img {
    width: 100px;
}

.desktop-nav ul {
    padding: 0px;
    margin-top: 1rem;
}

.desktop-nav li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.desktop-nav li {
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}

.desktop-nav li.active {
    background-color: #303030;
    border-left: 3px solid #f9a129;
}

.desktop-nav li i {
    color: #f9a129;
    padding-left: 2rem;
    font-size: 1rem;
    padding-right: 0.3rem;
}
.logout-nav {
    border-top: 1px solid rgba(195, 195, 195, 0.842);
    margin: 1rem;
}
.logout-nav button {
    background: transparent;
    border: transparent;
    color: white;
    padding-top: 1rem;
    padding-right: 0px;
    font-size: 0.9rem;
}

.logout-nav button i {
    padding-left: 0.5rem !important;
}

/* Navbar mobile */

.mobile-nav {
    background-color: #fff;
    box-shadow: -2px -5px 29px -15px rgba(0, 0, 0, 0.5);
    border-radius: 20px 20px 0 0;
    display: none;
    z-index: 1000;
}

.mobile-nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    padding-left: 0px;
    padding: 0.7rem 1rem;
    margin-bottom: 0px;
    text-align: center;
}

.mobile-nav ul li.active {
    background-color: #262626;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.mobile-nav ul li.active a i {
    vertical-align: middle;
}

.mobile-nav ul li.active a {
    color: #fff;
    font-size: 1.4rem;
}

.mobile-nav ul a {
    text-decoration: none;
    color: #cad5eb;
    font-size: 1.6rem;
}

.navbar {
    display: none;
}

.navbar-brand {
    background-image: url(../img/brand/logo.svg);
    background-repeat: no-repeat;
    font-size: 0px;
    padding: 1rem;
    width: 90px;
    background-size: contain;
    background-position: center;
}

.offcanvas.offcanvas-end {
    position: fixed;
    z-index: 2000 !important;
}

.text-bg-dark {
    background-color: #262626 !important;
}

.offcanvas-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.offcanvas-header .btn-close {
    align-self: end;
}

.info-user-offcanvas {
    flex-direction: row;
    display: flex;
    padding: 1rem;
}

.info-user-offcanvas .user-info-nav p:first-of-type {
    font-size: 1.3rem;
}

.info-user-offcanvas .user-info-nav {
    text-align: left;
    padding-left: 1rem;
    align-self: center;
}

.info-user-offcanvas .img-user-nav {
    align-self: center;
    margin-bottom: 0px;
}

.offcanvas-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offcanvas-body li a,
.offcanvas-body .logout-nav button {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.offcanvas-body li a i,
.offcanvas-body .logout-nav button i {
    color: #f9a129;
    font-size: 1.1rem;
    padding-right: 0.3rem;
    vertical-align: middle;
    padding-left: 0px !important;
}

.offcanvas-body li {
    padding-bottom: 0.7rem;
}

.offcanvas-body ul {
    padding: 1rem;
}

.offcanvas-body .logout-nav button {
    color: black;
    padding-left: 0px;
}

.navbar-toggler-icon {
    background-image: url(../img/icons/menu.svg);
}

.navbar-toggler {
    border: var(--bs-border-width) solid transparent !important;
    box-shadow: none !important;
}

/* Home */

.main {
    margin-left: auto;
    width: calc(100% - 250px);
}

.location-header {
    margin-top: 3rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: 0px 2px 5px -1px #00000024;
    text-align: center;
    font-size: 0.85rem;
    display: none;
    z-index: 900;
}

.location-header p {
    margin-bottom: 0px;
}

.location-header i {
    color: #f9a129;
}

.post-carousel {
    width: 98%;
    position: relative;
    margin-top: 0.7rem;
    margin-bottom: 2rem;
}

.post-carousel .item {
    height: 275px;
    border-radius: 10px;
    background-color: #262626;
}

.bg-1 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 2rem;
    height: 100%;
}

.bg-ads {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}

.home-content {
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    padding: 5%;
    min-height: calc(100vh - (200px + 1rem));
    box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.04);
}

.home-content h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 1rem;
}

.tabs-home {
    margin-top: 2rem;
}

.tabs-home ul {
    justify-content: center;
    border: 1px solid transparent;
}

.tabs-home ul button {
    color: rgb(64, 64, 64);
}

.tabs-home .nav-tabs .nav-link {
    border-color: gray;
}

#compra-tab {
    border-radius: 5px 0px 0px 5px !important;
}

#peticion-tab {
    border-radius: 0px 5px 5px 0px !important;
}

.tabs-home .tabs-home .nav-tabs .nav-item.show .nav-link,
.tabs-home .nav-tabs .nav-link.active {
    border-color: gray;
    color: white;
    background-color: gray;
}

.crear-peticion {
    height: 200px;
    border-radius: 10px;
    background-color: rgb(232, 232, 232);
    padding-top: 150px;
    margin-top: 2rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
}

.crear-peticion div {
    background-color: rgba(250, 249, 249, 0.861);
    height: 50px;
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
}

@media screen and (max-width: 992px) {
    #home {
        margin-top: 94px;
        margin-bottom: 60px;
    }

    .main {
        width: 100%;
        padding-bottom: 2rem;
    }

    .post-carousel {
        position: relative;
        margin-top: 0rem;
        width: 100%;
    }

    .post-carousel .item {
        border-radius: 0px;
    }

    .location-header {
        display: block;
    }

    .home-content h1 {
        font-size: 1.5rem;
        width: 70%;
    }

    .sidebar {
        display: none;
    }

    .main {
        flex-direction: column;
    }

    .mobile-nav {
        display: block;
    }

    .navbar {
        display: flex;
    }
}

.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style: none;
    display: inline-block;
    width: 30.33%;
    position: relative;
    text-align: center;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
    z-index: 2;
    position: relative;
}
.progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: 1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: green;
}
.progressbar li.active + li:after {
    background-color: green;
}

/* Calificacion */

.calificar p {
    text-align: center;
}

.calificar label {
    font-size: 20px;
}

.calificar input[type="radio"] {
    display: none;
}

.calificar label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.calificar label:hover,
.calificar label:hover ~ label {
    color: orange;
}

.calificar input[type="radio"]:checked ~ label {
    color: orange;
}
